 /* .container {
  display: flex;
  font-family: Arial, sans-serif;
  margin: 20px;
}


.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 20px;
}

.sidebar img {
  width: 60px;
  height: 60px;
  /* border: 1px solid #ccc;
  border-radius: 8px; 
  padding: 5px;
  cursor: pointer;
  background: #f9f9f9;
}

.sidebar img:hover {
  background: #eee;
}

.form-section {
  flex: 1;
}

.title {
  color: red;
  font-weight: bold;
  margin-bottom: 5px;
}


.input-wide {
  width: 100%;
  padding: 4px;
  margin-bottom: 15px;
}

.row {
  margin-bottom: 10px;
}

.row label {
  margin-right: 8px;
  font-weight: normal;
}

.row input,
.row select {
  margin-right: 12px;
  padding: 4px;
}

.status {
  margin: 10px 0;
  font-weight: bold;
}

.status span {
  color: red;
  font-weight: normal;
}

.divider {
  margin-left: 0px;  
  width: 70%;
  border: none;
  border-top: 1px solid #413e3e;
  margin-top: 15px;
  margin-bottom: 15px;
}


.id-input {
  text-align: right; 
}  */
