.container {
  padding-left: 15px;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.labelRed {
  color: red;
  font-weight: bold;
}

.inputWide {
  width: 800px;
}

.inputSmall {
  width: 60px;
  text-align: center;
}

.dateLabel {
  font-weight: bold;
  margin-right: 30px;
}

.fieldGroup {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.status {
  color: green;
  font-weight: bold;
}

.hr {
  border: 1px solid black;
  margin: 1px 0px;
}
